In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option("max_rows", None)

## Test 6

In [26]:
def fix_columns_name(df):
    return [column[0] if column[0] in ['caso', 'tenure', 'max_iter', 'sol_ini'] else column[0] + "_" + column[1] for column in df.columns]

In [4]:
raw_data = pd.read_csv("teste6.csv")

In [19]:
test_data = raw_data.drop(list(range(217, 241)), axis=0).reset_index()

In [22]:
test_data[test_data.tempo > 310]

,index,num_teste,caso,tenure,max_iter,sol_ini,iter_sem_mod,tempo,custo,gap
132,132,132,A-n54-k7.vrp,45,100,Random,50,4605.745162,1481.980460,0.269906
195,195,195,A-n80-k10.vrp,45,500,Savings,115,27735.819526,1930.111434,0.094788
216,216,216,A-n80-k10.vrp,100,500,Savings,59,4122.197043,1888.056407,0.070934
382,406,406,B-n68-k9.vrp,25,500,Savings,203,1558.490467,1376.480515,0.082139
444,468,468,B-n68-k9.vrp,85,500,Random,68,3343.395326,1484.971499,0.167430
455,479,479,B-n68-k9.vrp,100,500,Random,68,1540.722010,1583.752267,0.245088
602,626,626,F-n72-k4.vrp,85,500,Random,120,49882.652268,399.279739,0.684725

In [32]:
test_data2 = test_data[test_data.tempo < 310].drop(columns=['index', 'num_teste'])

In [33]:
test_data2.head(5)

,caso,tenure,max_iter,sol_ini,iter_sem_mod,tempo,custo,gap
0,A-n32-k5.vrp,25,100,Savings,100,4.087157,862.2763,0.099842
1,A-n32-k5.vrp,25,100,Savings,100,4.316139,862.2763,0.099842
2,A-n32-k5.vrp,25,100,Savings,100,4.323998,862.2763,0.099842
3,A-n32-k5.vrp,25,100,Savings,100,4.195004,862.2763,0.099842
4,A-n32-k5.vrp,25,100,Savings,100,4.339991,862.2763,0.099842

In [73]:
test_data3 = test_data2.groupby(['caso', 'tenure', 'max_iter', 'sol_ini']).agg({'custo': ['mean', 'min', np.std], 'tempo': ['mean'], 'gap': ['mean', 'min']}).reset_index()

In [74]:
test_data3.head(3)

           caso tenure max_iter  sol_ini        custo                          \
                                                 mean         min         std
0  A-n32-k5.vrp     25      100   Random  1008.616288  934.277783   68.882873
1  A-n32-k5.vrp     25      100  Savings   862.276300  862.276300    0.000000
2  A-n32-k5.vrp     25      500   Random  1029.876068  912.634310  104.310454

       tempo       gap
        mean      mean       min
0   3.399436  0.286500  0.191681
1   4.252458  0.099842  0.099842
2  14.140227  0.313617  0.164074

In [75]:
test_data3.columns = fix_columns_name(test_data3)

In [76]:
test_data3.columns

Index(['caso', 'tenure', 'max_iter', 'sol_ini', 'custo_mean', 'custo_min',
       'custo_std', 'tempo_mean', 'gap_mean', 'gap_min'],
      dtype='object')

## A - n23 - k5

In [96]:
casos_an32k5 = test_data3.loc[test_data3.caso=='A-n32-k5.vrp']
casos_an32k5.sort_values('custo_min')

,caso,tenure,max_iter,sol_ini,custo_mean,custo_min,custo_std,tempo_mean,gap_mean,gap_min
14,A-n32-k5.vrp,100,500,Random,862.383749,800.048823,57.134398,22.756686,0.099979,0.020470
12,A-n32-k5.vrp,100,100,Random,886.765156,811.833648,56.178229,6.596792,0.131078,0.035502
10,A-n32-k5.vrp,85,500,Random,845.468775,825.273105,12.496380,28.518870,0.078404,0.052644
8,A-n32-k5.vrp,85,100,Random,891.012468,831.151965,57.865959,7.249799,0.136496,0.060143
7,A-n32-k5.vrp,45,500,Savings,848.181723,831.395068,10.138712,19.661619,0.081864,0.060453
11,A-n32-k5.vrp,85,500,Savings,846.870698,834.399198,8.492126,19.976220,0.080192,0.064285
9,A-n32-k5.vrp,85,100,Savings,851.380639,837.683456,7.656958,4.817122,0.085944,0.068474
15,A-n32-k5.vrp,100,500,Savings,849.107190,842.550755,5.482808,21.226448,0.083045,0.074682
13,A-n32-k5.vrp,100,100,Savings,852.907258,845.316550,4.243335,4.511332,0.087892,0.078210
6,A-n32-k5.vrp,45,500,Random,883.210211,849.581133,32.048158,30.404845,0.126543,0.083649
5,A-n32-k5.vrp,45,100,Savings,854.804935,854.804935,0.000000,4.305379,0.090312,0.090312
4,A-n32-k5.vrp,45,100,Random,968.632883,857.458522,71.890892,7.345799,0.235501,0.093697
1,A-n32-k5.vrp,25,100,Savings,862.276300,862.276300,0.000000,4.252458,0.099842,0.099842
3,A-n32-k5.vrp,25,500,Savings,862.276300,862.276300,0.000000,15.452866,0.099842,0.099842
2,A-n32-k5.vrp,25,500,Random,1029.876068,912.634310,104.310454,14.140227,0.313617,0.164074
0,A-n32-k5.vrp,25,100,Random,1008.616288,934.277783,68.882873,3.399436,0.286500,0.191681

In [78]:
casos_an32k5 = test_data3.loc[test_data3.caso=='A-n32-k5.vrp']
casos_an32k5.sort_values('custo_mean')

,caso,tenure,max_iter,sol_ini,custo_mean,custo_min,custo_std,tempo_mean,gap_mean,gap_min
10,A-n32-k5.vrp,85,500,Random,845.468775,825.273105,12.496380,28.518870,0.078404,0.052644
11,A-n32-k5.vrp,85,500,Savings,846.870698,834.399198,8.492126,19.976220,0.080192,0.064285
7,A-n32-k5.vrp,45,500,Savings,848.181723,831.395068,10.138712,19.661619,0.081864,0.060453
15,A-n32-k5.vrp,100,500,Savings,849.107190,842.550755,5.482808,21.226448,0.083045,0.074682
9,A-n32-k5.vrp,85,100,Savings,851.380639,837.683456,7.656958,4.817122,0.085944,0.068474
13,A-n32-k5.vrp,100,100,Savings,852.907258,845.316550,4.243335,4.511332,0.087892,0.078210
5,A-n32-k5.vrp,45,100,Savings,854.804935,854.804935,0.000000,4.305379,0.090312,0.090312
1,A-n32-k5.vrp,25,100,Savings,862.276300,862.276300,0.000000,4.252458,0.099842,0.099842
3,A-n32-k5.vrp,25,500,Savings,862.276300,862.276300,0.000000,15.452866,0.099842,0.099842
14,A-n32-k5.vrp,100,500,Random,862.383749,800.048823,57.134398,22.756686,0.099979,0.020470
6,A-n32-k5.vrp,45,500,Random,883.210211,849.581133,32.048158,30.404845,0.126543,0.083649
12,A-n32-k5.vrp,100,100,Random,886.765156,811.833648,56.178229,6.596792,0.131078,0.035502
8,A-n32-k5.vrp,85,100,Random,891.012468,831.151965,57.865959,7.249799,0.136496,0.060143
4,A-n32-k5.vrp,45,100,Random,968.632883,857.458522,71.890892,7.345799,0.235501,0.093697
0,A-n32-k5.vrp,25,100,Random,1008.616288,934.277783,68.882873,3.399436,0.286500,0.191681
2,A-n32-k5.vrp,25,500,Random,1029.876068,912.634310,104.310454,14.140227,0.313617,0.164074

In [89]:
test_data4 = test_data3.loc[test_data3.caso == 'A-n32-k5.vrp']

In [94]:
test_data4 = test_data4.loc[test_data3.max_iter == 500].sort_values('tempo_mean')
test_data4['otimo'] = 784
test_data4

,caso,tenure,max_iter,sol_ini,custo_mean,custo_min,custo_std,tempo_mean,gap_mean,gap_min,otimo
2,A-n32-k5.vrp,25,500,Random,1029.876068,912.634310,104.310454,14.140227,0.313617,0.164074,784
3,A-n32-k5.vrp,25,500,Savings,862.276300,862.276300,0.000000,15.452866,0.099842,0.099842,784
7,A-n32-k5.vrp,45,500,Savings,848.181723,831.395068,10.138712,19.661619,0.081864,0.060453,784
11,A-n32-k5.vrp,85,500,Savings,846.870698,834.399198,8.492126,19.976220,0.080192,0.064285,784
15,A-n32-k5.vrp,100,500,Savings,849.107190,842.550755,5.482808,21.226448,0.083045,0.074682,784
14,A-n32-k5.vrp,100,500,Random,862.383749,800.048823,57.134398,22.756686,0.099979,0.020470,784
10,A-n32-k5.vrp,85,500,Random,845.468775,825.273105,12.496380,28.518870,0.078404,0.052644,784
6,A-n32-k5.vrp,45,500,Random,883.210211,849.581133,32.048158,30.404845,0.126543,0.083649,784

In [124]:
analise_tenure = test_data2.groupby(['tenure']).agg({'gap': ['mean', 'min', 'max']}).reset_index()
analise_tenure.columns = fix_columns_name(analise_tenure)

In [125]:
analise_tenure.sort_values('gap_mean')

   tenure  gap_mean   gap_min   gap_max
3     100  0.157993  0.006084  0.827699
2      85  0.170648  0.006084  0.833346
1      45  0.197745  0.006084  0.926204
0      25  0.215061  0.010245  0.922271

In [118]:
analise_maxiter = test_data2.groupby(['max_iter']).agg({'tempo': ['mean'], 'gap': ['mean', 'min']}).reset_index()
analise_maxiter.columns = fix_columns_name(analise_maxiter)

In [119]:
analise_maxiter.sort_values('gap_mean')

   max_iter  tempo_mean  gap_mean   gap_min
1       500  120.293742  0.176393  0.006084
0       100   50.045977  0.195257  0.006084