In [1]:
import pandas as pd

In [2]:
# Teste 1
test1_data = pd.read_csv("teste1.csv")

In [3]:
test1_data

Empty DataFrame
Columns: [num_teste, caso, tenure, max_iter, sol_ini, iter_sem_mod, tempo, custo, gap]
Index: []

In [5]:
test1_avg = test1_data.drop(columns=['num_teste', 'tenure', 'max_iter', 'sol_in'])
test1_avg_by_params = test1_data.drop(columns=['num_teste'])

In [ ]:
test1_avg = test1_avg.groupby()

In [ ]:
df.groupby(['caso', '']).sum().reset_index().groupby('id').mean()